html {
	height: 100%;
}
body {
	font-family: "Comic Sans", "Comic Sans MS", "Chalkboard", "ChalkboardSE-Regular", sans-serif;
	margin: 0;
	min-height: 100%;
}

.page {
	height: 100%;
}
.page__inner {
	height: 100%;
}
.page__wrapper {
	margin: 0 25px;
}
@media all and (min-width: 668px) {
	.page__wrapper {
		margin: 0 auto;
		width: 668px;
	}
}
.page__main {
	height: 100%;
}





.hero {
	height: 100%;
}
.hero .page__wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.hero__image {
	max-width: 333px;
	width: 80%;
	display: block;
	margin: 0 auto;
}
.hero__title {

	margin: 0;
	text-align: center;
}



.footer {
	background: #F8D74A;
	padding: 15px 0;
	text-align: center;
}
.footer__sponsor {}
.footer__sponsor a {
	color: inherit;
}
